
.lora-main {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}



.oswald-accent {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.hero-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/box-food.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-container{
    background-color: transparent;
    color: white;
    text-align: center;
    width: 50%;
    border: 5px solid;
    border-color: white;

}

h1{
    font-size: 5rem;
    font-family: "Lora", serif;
}

.hero-container p{
    font-family: "Oswald, sans-serif";
    font-size: 2rem;
}

.hero-btn{
    color: white;
    background-color: green;
    width: 10rem;
    height: 50px;
    border: 0;
    margin-top: 1rem;
    font-family: "Oswald, sans-serif";
    font-size: 1.5rem;
    border-radius: 20px;

}

.clicked{
    background-color: rgb(12, 48, 21);
}

.features-container {
    height: 40vh;
    display: flex;
    background-color: rgb(31, 30, 30);
    flex-basis: 100%;
    padding-top: 5rem;
    color: white;
    
    
}

.feature{
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: center;
    
    
}


img{
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-radius: 50px;
    
}

ul > * {
    list-style: none;
    text-align: center;
    padding-top: 10px;
    font-size: 1.25rem;
}

h3{
    font-family: "Lora", serif;
    font-size: 2rem;
    padding-top: 20px;
}

.assortment-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    
}

.protein{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/protein.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    text-align: center;
   
    
}

.vegetarian{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url("images/vegetarian.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    text-align: center;
    

}

h2{
    font-family: "Lora", serif;
    font-size: 2rem;
    padding-top: 25vh;
    
}

.footer-container{
    height: 8vh;
    background-color: rgb(31, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-button{
    width: 10rem;
    height: 50px;
    color: rgb(4, 61, 4);
    background-color: white;
    border: 2px solid rgb(4, 61, 4);

}

.footer-button-pressed{
    background-color: rgb(125, 236, 125);
}